<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Ram" />
        <constructor-arg name="gender" value="Male" />
        <constructor-arg name="age" value="33"/>
    </bean>

    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">
        <constructor-arg name="actor" ref="actor1"/>
    </bean>

    <bean id="movie1" class="com.stackroute.domain.Movie" autowire="constructor"/>
</beans>
