<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Ram" type="java.lang.String"/>
        <constructor-arg name="gender" value="Male" type="java.lang.String"/>
        <constructor-arg name="age" value="33" type="int"/>
    </bean>
    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Ramu" type="java.lang.String"/>
        <constructor-arg name="gender" value="Male" type="java.lang.String"/>
        <constructor-arg name="age" value="34" type="int"/>
    </bean>
    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Ravali" type="java.lang.String"/>
        <constructor-arg name="gender" value="Female" type="java.lang.String"/>
        <constructor-arg name="age" value="25" type="int"/>
    </bean>

    <bean name="movieA,movieB" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actor"/>
    </bean>
    <bean id="movie1" class="com.stackroute.domain.Movie">
        <constructor-arg name="actor" ref="actor1"/>
    </bean>
</beans>
